/* My WEB120 Portal Website Styles */

/* My WEB120 Portal Website Styles */

html {
    background-color: #443a46;
    overflow: auto;
}

div.wrapper {
    background-color: #fdfdfa;
    overflow: auto;
}

h1 {
    text-decoration: none;
	font: 26px "Fieldwork Hum Bold", Acute, Helvetica;
    color: #3e375f;
}

#logopad {
    color: #3e375f;
    padding: 0px 10px;
}

h2 {
    font: 24px "Fieldwork Geo", Acute, Helvetica;
    text-align: justify;
    padding: 10px 0px 10px 0px;
    margin-right: auto;
    float: right;
    width: 100%;
}


p {
    font: 14px "Fieldwork Geo", Acute, Helvetica;
    text-align: justify;
}

.hometext p  {
    text-align: justify;
    width: auto;
    font: 14px "Fieldwork Geo", Acute, Helvetica;
    /* text-align: justify; */
}

footer p     {
    float: none;
    width: 100%;
}

/* nav {
    font: 16px "Fieldwork Geo", Acute, Helvetica;

} */



/* .section {
   text-align: left;
   float: left;
   padding: 0px 0px 0px 10px; 
}
   /* margin-right: 20px; */

div.homepic    {
    float: right;
    width: 25%;
    padding: 1px 0px 0px 15px;

}

div.desktop {
        float: right;
        width: 25%;
        padding: 10px;
} 
.logopad {
    color: #3e375f;
    text-shadow:1px 1px #817b9e;
    font-size: 1em;
    padding: 0px 10px;
}
/* Embed Responsively Rules! */
div.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin: auto;
    max-width: 98%;
}

div.embed-container iframe {    
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

footer {
    clear:both;
    text-align: center;
    padding: 0px 0px 0px 10px;
    margin-right: 20px;
}

/* START RESPONSIVE STYLES */

/* DESKTOP */
@media all and (min-width:900px) {

   div.wrapper {
		width: 100%;
		margin:auto;
	}
    
    img.desktop {
       		width: 90%;
            display: inline-block;
    }

    img.tablet, img.phone {
       	display:none;
    	}

    /* Change background color of navigation on selected page */

    ul.topnav {
        font: 10px "Fieldwork Geo Bold", Acute, Helvetica;
    }

    ul.topnav li a.selected {
        		background-color: #4e4575;
                color:  #bebad1;
                /* font: 20px "Fieldwork Geo Bold", Acute, Helvetica; */
                /* padding: 20px; */
   	 }
}

/* TABLET */
@media all and (min-width:737px) and (max-width:1399px) {

	.section {
        margin: 0 10px 10px 10px;
		width: 95%;
	}

    img.tablet {
       		width:100%;
            display:inline-block;
    }

    img.desktop, img.phone {
           display:none;
           width: 25%;
    	}


    /* Change background color of navigation on selected page */
    ul.topnav li a.selected {
        background-color: #4e4575;
        color:  #bebad1
        }
    }   

/* PHONE */
@media all and (max-width:736px) 
{
    .homepic, .hometext {
        float: none!important;
        width: 100%!important;
    }

    .hometext p, footer p     {
        float: none;
        width: 100%;
    }

    img.phone {
       		width:100%;
            display:inline-block;
            padding-right: 10px;
    }

    img.tablet, img.desktop {
       	display:none;
    }
}